@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.blog-content-container{
    background-color: rgba(255, 255, 255, 0.548);
    max-width: 1366px;
    margin: auto;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.container{
    font-family: 'Lato', sans-serif;
    padding: 20px 30px;
    font-weight: 300;
    font-size: 20px;
}

.back-button{
    position: absolute;
    top: 30px;
    right: 30px;
    font-weight: bold;
    font-size: 30px;
    border:1px solid #ff506e;
    background-color:#ff506e ;
    color: white;
    padding: 0  5px 3px 5px; 
    border-radius: 50%;
    cursor: pointer;
}